/** @format */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar {
}
.searcInputClas {
  width: 400px;
}

.btn-search button {
  border-width: 0px;
  outline: none;
  font-size: 18px;
  color: white;
  background-color: rgb(130, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;

  padding: 5px 3px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  cursor: pointer;
}
